body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: 'Fira Sans', sans-serif;
}
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
	background-color: #fff200;
}
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #009fda;
	color: white;
	min-width: 1280px;
}
.footerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	padding: 2vw 0vw;
	width: 100%;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	margin-top: 20px;
}
.logoFooter {
	align-self: center;
}
.logoFooter img {
	height: 80px;
	width: 100%;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
}
.menu li {
	display: inline-block;
	margin-right: -4px;
	padding: 10px;
}
.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: white;
}
.contentProduct {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	justify-items: center;
	align-items: center;
	width: 100%;
	background-color: white;
}
.contentContact {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	background-color: white;
}
.topBar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 10px;
	background-color: #881d85;
}
.bottomBar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 40px;
	padding: 5px 0px;
	color: black;
	background-color: white;
}
.footerLinks {
	white-space: nowrap;
	margin: 10px;
}

li {
	list-style: none;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	font-size: 110%;
}

input[type='text'],
select, textarea {
	/* width: 100%; */
	height: 45px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
textarea{
	height: 100px;
}
*:focus {
	outline: none;
}

.socialLogo {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 15px 0px;
}

.socialLogo img {
	width: 40px;
	height: auto;
	margin: 5px;
}

.submit {
	background-color: #48ad4c;
	border: none;
	color: white;
	padding: 5px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 7px 5px;
	cursor: pointer;
	transition-duration: 0.4s;
}
.submit:hover {
	background-color: #227a26;
}

.textRights {
	margin-right: 20px;
}
.inLine {
	display: flex;
}
.flexColumn {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}
.map {
	display: grid;
	grid-template-columns: 13% 25% 24% 25% auto;
	grid-template-rows: 19% 20% 8% 16% 32% auto;
	grid-gap: 1px;
	grid-auto-flow: row;
	width: 22vw;
	height: 20vw;
	background-image: url('assets/floor_plan.png');
	background-repeat: no-repeat;
	background-size: contain;
}

.area1 {
	grid-column-start: 2;
	grid-row-start: 2;
	grid-column-end: 2;
	grid-row-end: 4;
}

.area2 {
	grid-column-start: 4;
	grid-row-start: 2;
	grid-column-end: 5;
	grid-row-end: 4;
}

.area3 {
	grid-column-start: 3;
	grid-row-start: 3;
	grid-column-end: 3;
	grid-row-end: 5;
}
.area4 {
	grid-column-start: 3;
	grid-row-start: 5;
	grid-column-end: 3;
	grid-row-end: 6;
}
.clickArea {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
.titlePage {
	align-self: flex-start;
	justify-self: center;
	text-align: center;
	width: 100%;
	margin: 10px 0px;
}
.productsDisplay {
	display: grid;

	grid-template-columns: auto auto auto;
	grid-auto-flow: row;
	justify-content: space-around;
	width: 90%;
	margin-bottom: 50px;
}
.productImagePrev {
	width: 20vw;
}
.productImage {
	width: 100%;
}
.homeBreadcrumbs{
	width: 30px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	margin: 20px 15px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	font-size: inherit;
}

.cardContainer {
	padding: 2px 16px;
}
.welcome {
	max-width: 40%;
	margin: 20px;
}
.justify-text {
	padding: 10px;
	text-align: justify;
	text-justify: inter-word;
}
.formContact {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	height: 100%;
	margin-right: 20px;
}
.formContact input, textarea {
	width: 250px;
}
.informationContact {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin-right: 20px;
}
.productDescription {
	width: 50%;
}
.pl-3 {
	padding-left: 3px;
}
.pl-6{
	padding-left: 6px;
}
.pl-9{
	padding-left: 9px;
}
.pr-3 {
	padding-right: 3px;
}
.pr-6{
	padding-right: 6px;
}
.pr-9{
	padding-right: 9px;
}
.grid-2 {
	display: grid;
	grid-template-columns: 20% auto;
}
.grid-product {
	display: grid;
	grid-template-columns: 60% 25%;
	margin: 20px;
}
.text-right{
	text-align: right;
}
.spacer-5 {
	margin: 15px;
}
.padding-5 {
	padding: 15px;
}
.padding-10 {
	padding: 30px;
}
.w-500 {
	width: 500px;
}
.w-50 {
	width: 50%;
}
.w-60 {
	width: 50%;
}